
"*" {box-sizing: border-box;
}
@media (min-width: 992px){
 	 #sect1{ width: 29%;}
 	 #sect2{ width: 29%;}
 	 #sect3{ width: 29%;} 
 	 }

@media (min-width: 768px) and (max-width: 991px){
 		#sect1 {width: 45%}
 		#sect2 {width: 45%}
 		#sect3 {width: 95%}
 	}  
@media (max-width: 767px){
    	#sect1 {width: 96%}
    	#sect2 {width: 96%}
    	#sect3 {width: 96%}
    }


 body{
 	margin: 0px;
 	padding: 0;
 	background-color:black
 	;
 	font-family: cursive;
 	

 }
 div{
 	text-align: center;
 	border: 1px solid magenta;
 	margin: 5px;
 	padding: 3px;
 	background-color:purple;
 	width: 98%;
 	color:lightblue;
 	float:left;

 	
 }
 section{
 	 margin:  10px 15px 10px 15px;
 	 padding: 5px 5px 5px 5px;
 	 border: 1px solid black;
 	 background-color: darkorange;
 		 color:purple ;
 	 float:left; 	 


 	 }
 h1{
    border: 1px solid black;
    background-color: navy;

 }
 #pagetitle{


 }
 #h1{
 	float: right;
 	color: skyblue;
 	background-color: blue;

   }
 #h2{
 	float:right;
 	color: lightgreen;
 	background-color: darkgreen;
}
 #h3{
 	float: right;
 	color: red;
 	background-color: maroon
 	 }

 p{ 
    padding: 3px;
 	color:yellow;
 	background-color: orange;
 	float:left;
 	 }


 	
 
